.imageBookNinja {
	box-sizing: border-box;
	position: relative;
	max-width: 540px;
}

.imageBookNinja-tablet,
.imageBookNinja-cel {
	position: absolute;
	display: block;
}

.imageBookNinja-tablet {
	bottom: 7.6%;
	left: 0%;
	z-index: 1;
	width: 46%;
}

.imageBookNinja-cel {
	bottom: -4.9%;
	top: auto;
	left: 31%;
	width: 22%;
	z-index: 3;
}

.imageBookNinja-principal {
	width: 58.6%;
	position: relative;
	left: 41.4%;
}
